<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>登陆</title>
</head>
<body>
<form>
  <div class="form-group">
    <label for="account">Account</label>
    <input type="account" class="form-control" name="username" id="Inputaccount" placeholder="admin">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="InputPassword" placeholder="admin">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>